* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
}

.gameboard {
    margin: 48px 0;
    display: grid;
    background-color: black;
    gap: 4px;
    width: 400px;
    height: 400px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard > div {
    background-color: white;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    font-size: 48px;
    font-weight: bold;
}

.show {
    top: 0;
    left: 0;
}

button {
    border: 2px solid black;
    padding: 8px 24px;
    font-size: 32px;
    background-color: white;
    border-radius: 50px;
}